{% extends 'base.html.twig' %}

{% form_theme FilterActivityForm 'bootstrap_4_layout.html.twig' %}

{% block title %}Home | {{ parent() }}{% endblock %}

{% block body %}


    {{ form_start(FilterActivityForm) }}
    <div class="d-flex justify-content-start     align-items-center">
        <div class="ms-4 me-4">
            {{ form_row(FilterActivityForm.Campus)}}
            {{ form_row(FilterActivityForm.Search)}}
            {{ form_row(FilterActivityForm.DateStart)}}
            {{ form_row(FilterActivityForm.DateEnd)}}
        </div>
        <div class="ms-4 me-4">
            {{ form_row(FilterActivityForm.Filter)}}
        </div>

        <div>
            <button class="ms-4 me-4 h-50 btn-lg ">Rechercher</button>
        </div>

    </div>

    {{ form_end(FilterActivityForm) }}

<table>
    <thead>
        <tr>
            <th>Nom de la sortie</th>
            <th>Date de sortie</th>
            <th></th>
        </tr>
    </thead>
</table>
    {% for sortie in sorties %}

</section>

{% endblock %}
