{% extends 'base.html.twig' %}

{% form_theme FilterActivityForm 'bootstrap_4_layout.html.twig' %}

{% block title %}Home | {{ parent() }}{% endblock %}

{% block body %}

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endfor %}



<div class="container">
    <div class="d-flex justify-content-end" >
        Date du jour : {{ 'now'|date("d/m/Y") }}<br>
        Participant : {{ app.user.prenom }} {{ app.user.nom| first | upper }}.
    </div>
    {{ form_start(FilterActivityForm) }}
    <div class="d-flex justify-content-start     align-items-center mb-5">
        <div class="ms-4 me-4">
            {{ form_row(FilterActivityForm.Campus)}}
            {{ form_row(FilterActivityForm.Search)}}
            {{ form_row(FilterActivityForm.DateStart)}}
            {{ form_row(FilterActivityForm.DateEnd)}}
        </div>
        <div class="ms-4 me-4">
            {{ form_row(FilterActivityForm.Filter)}}
        </div>

        <div>
            <button class="ms-4 me-4 h-50 btn-lg ">Rechercher</button>
        </div>

    </div>

    {{ form_end(FilterActivityForm) }}

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nom de la sortie</th>
            <th>Date de sortie</th>
            <th>Clôture</th>
            <th>Inscrits/Places</th>
            <th>Etat</th>
            <th>Inscrit</th>
            <th>Organisateur</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% set i = 0 %}
        {% for sortie in sorties %}
            {% if sortie.etat.libelle != "Créée"  or sortie.organisateur.id == app.user.id  %}
            <tr>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.dateHeureDebut |format_datetime('short', 'short', locale='fr') }}</td>
                <td>{{ sortie.dateLimiteInscription |format_datetime('short', 'short', locale='fr') }}</td>
                <td>{{ sortie.participants|length}}/{{ sortie.nbInscriptionsMax }}</td>
                <td>{{ sortie.etat.libelle }}</td>
                <td>{{ app.user in sortie.participants ?"x":"" }}</td>
                <td><a href="{{ path('participants_details', {'id': sortie.organisateur.id}) }}">{{ sortie.organisateur.prenom|first }}.{{ sortie.organisateur.nom }}</a></td>
                <td>
                    {#    si je suis orgnisateur    #}
                    {% if sortie.organisateur.id == app.user.id %}

                        {#  je verifie que la personne est inscite #}
                        {% if  app.user in sortie.participants %}

                            {# si la sortie est en état  créé => visible que par le créateur avec bouton "modifier" + "publier" #}
                            {% if sortie.etat.libelle == "Créée" %}
                                <a href="{{ path('sortie_update',{'id':sortie.id}) }}">Modifier</a> - <a href="{{ path('gestion_sortie/publier',{ 'id':sortie.id }) }}">Publier</a>

                            {# si la sortie est en état ouverte  afficher le bouton "afficher" et "annuler"#}

                            {% elseif sortie.etat.libelle == "Ouverte" %}
                                <a href="{{ path('sortie_detail', {'id': sortie.id}) }}">Afficher</a> - <a href="{{ path('gestion_sortie/annuler', {'id': sortie.id}) }}">Annuler</a> -
                                <a href="{{ path('gestion_sortie/desister',{'id':sortie.id})}}">Se désister</a>

                                {# si la sortie est en état cloturée afficher le bouton "afficher" et "annuler" #}

                            {% elseif sortie.etat.libelle == "Cloturée" %}
                                <a href="{{ path('sortie_detail', {'id': sortie.id}) }}">Afficher</a> - <a href="{{ path('gestion_sortie/annuler', {'id': sortie.id}) }}">Annuler</a> -
                                <a href="{{ path('gestion_sortie/desister',{'id':sortie.id})}}">Se désister</a>

                                {# si la sortie est en état  Activité en cours afficher le bouton "afficher"  #}

                            {% elseif sortie.etat.libelle == "Activité en cours" %}
                                <a href="{{ path('sortie_detail', {'id': sortie.id}) }}">Afficher</a>

                                {# si la sortie est en état  Passée le bouton "afficher"  #}

                            {% elseif sortie.etat.libelle == "Passé" %}
                                <a href="{{ path('sortie_detail', {'id': sortie.id}) }}">Afficher</a>

                            {% endif %}

                        {% else %}

                            {# si la sortie est en état  créé => visible que par le créateur avec bouton "modifier" + "publier" #}
                            {% if sortie.etat.libelle == "Créée" %}
                                <a href="{{ path('sortie_update',{'id':sortie.id}) }}">Modifier</a> - <a href="{{ path('gestion_sortie/publier',{ 'id':sortie.id }) }}">Publier</a>

                                {# si la sortie est en état ouverte  afficher le bouton "afficher" et "annuler"#}

                            {% elseif sortie.etat.libelle == "Ouverte" %}
                                <a href="{{ path('sortie_detail', {'id': sortie.id}) }}">Afficher</a> - <a href="{{ path('gestion_sortie/annuler', {'id': sortie.id}) }}">Annuler</a> -
                                <a href="{{ path('gestion_sortie/sinscrire',{'id':sortie.id})}}">S'inscire</a>

                                {# si la sortie est en état cloturée afficher le bouton "afficher" et "annuler" #}

                            {% elseif sortie.etat.libelle == "Cloturée" %}
                                <a href="{{ path('sortie_detail', {'id': sortie.id}) }}">Afficher</a> - <a href="{{ path('gestion_sortie/annuler', {'id': sortie.id}) }}">Annuler</a>

                                {# si la sortie est en état  Activité en cours afficher le bouton "afficher"  #}

                            {% elseif sortie.etat.libelle == "Activité en cours" %}
                                <a href="{{ path('sortie_detail', {'id': sortie.id}) }}">Afficher</a>

                                {# si la sortie est en état  Passée le bouton "afficher"  #}

                            {% elseif sortie.etat.libelle == "Passé" %}
                                <a href="{{ path('sortie_detail', {'id': sortie.id}) }}">Afficher</a>
                            {% endif %}
                        {% endif%}

                    {% else %}

                            {#  je verifie que la personne est inscite #}
                            {% if  app.user in sortie.participants %}

                                {# si la sortie est en état ouverte  afficher le bouton "afficher" et "Se désister"#}

                                {% if sortie.etat.libelle == "Ouverte" %}
                                    <a href="{{ path('sortie_detail', {'id': sortie.id}) }}">Afficher</a> - <a href="{{ path('gestion_sortie/desister', {'id': sortie.id }) }}">Se désister</a>

                                    {# si la sortie est en état cloturée afficher le bouton "afficher" et "Se désister" #}

                                    {% elseif sortie.etat.libelle == "Cloturée" %}
                                        <a href="#">Afficher</a> - <a href="{{ path('gestion_sortie/desister',{'id': sortie.id}) }}">Se désister</a>

                                    {# si la sortie est en état  Activité en cours afficher le bouton "afficher"  #}

                                {% elseif sortie.etat.libelle == "Activité en cours"%}
                                    <a href="{{ path('sortie_detail', {'id': sortie.id}) }}">Afficher</a>

                                    {# si la sortie est en état  Passée le bouton "afficher"  #}

                                {% elseif sortie.etat.libelle == "Passée" %}
                                    <a href="{{ path('sortie_detail', {'id': sortie.id}) }}">Afficher</a>

                                {% endif %}

                            {% else %}

                                {# si la sortie est en état ouverte  afficher le bouton "afficher" et "S'inscrire"#}

                            {% if sortie.etat.libelle == "Ouverte" %}
                                <a href="{{ path('sortie_detail', {'id': sortie.id}) }}">Afficher</a> - <a href="{{ path('gestion_sortie/sinscrire', {'id': sortie.id}) }}">S'inscrire</a>

                                {# si la sortie est en état cloturée afficher le bouton "afficher" #}

                            {% elseif sortie.etat.libelle == "Cloturée" %}
                                <a href="{{ path('sortie_detail', {'id': sortie.id}) }}">Afficher</a>

                            {# si la sortie est en état  Activité en cours afficher le bouton "afficher"  #}

                            {% elseif sortie.etat.libelle == "Activité en cours" %}
                                <a href="{{ path('sortie_detail', {'id': sortie.id}) }}">Afficher</a>

                            {# si la sortie est en état  Passée le bouton "afficher"  #}

                            {% elseif sortie.etat.libelle == "Passée" %}
                                <a href="{{ path('sortie_detail', {'id': sortie.id}) }}">Afficher</a>

                            {% endif %}

                            {% endif %}

                        {% endif %}
                    </td>
                </tr>
            {% endif %}
            {% set i = i+1 %}
        {% endfor %}
          </tbody>
    </table>

    <a href="{{ path('main_create') }}"><button class="btn-lg">Créer une sortie</button></a>
</div>

{% endblock %}
