{% extends 'base.html.twig' %}

{% form_theme FilterActivityForm 'bootstrap_4_layout.html.twig' %}

{% block title %}Home | {{ parent() }}{% endblock %}

{% block body %}

<div class="container">
    {{ form_start(FilterActivityForm) }}
    <div class="d-flex justify-content-start     align-items-center mb-5">
        <div class="ms-4 me-4">
            {{ form_row(FilterActivityForm.Campus)}}
            {{ form_row(FilterActivityForm.Search)}}
            {{ form_row(FilterActivityForm.DateStart)}}
            {{ form_row(FilterActivityForm.DateEnd)}}
        </div>
        <div class="ms-4 me-4">
            {{ form_row(FilterActivityForm.Filter)}}
        </div>

        <div>
            <button class="ms-4 me-4 h-50 btn-lg ">Rechercher</button>
        </div>

    </div>

    {{ form_end(FilterActivityForm) }}

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nom de la sortie</th>
            <th>Date de sortie</th>
            <th>Clôture</th>
            <th>Inscrits/Places</th>
            <th>Etat</th>
            <th>Inscrit</th>
            <th>Organisateur</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td> Cinéma </td>
            <td> 10/08/2021 </td>
            <td> 11/08/2021 </td>
            <td> 3/8 </td>
            <td> En cours </td>
            <td> X </td>
            <td> DimDim </td>
            <td><a href="#">Afficher</a> - <a href="#">Se desister</a> </td>
        </tr>
        {% for sortie in sorties %}
            <tr>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.dateHeureDebut |format_datetime('short', 'short', locale='fr') }}</td>
                <td>{{ sortie.dateLimiteInscription |format_datetime('short', 'short', locale='fr') }}</td>
                <td>{{ sortie.participants|length}}/{{ sortie.nbInscriptionsMax }}</td>
                <td>{{ sortie.etat.libelle }}</td>
                <td> todo dans le controler </td>
                <td>{{ sortie.organisateur.prenom|first }}.{{ sortie.organisateur.nom }}</td>
                <td>

                    {% if sortie.organisateur.email == app.user.email %}
                        <a href="#">Afficher</a> - <a href="#">Modifier</a>
                    {% else %}
                        <a href="#">Afficher</a> - <a href="#">S'inscrire</a>
                    {% endif %}
                </td>
            </tr>

        {% endfor %}
          </tbody>
    </table>
</div>
{% endblock %}
