{% extends 'base.html.twig' %}

{% form_theme FilterActivityForm 'bootstrap_4_layout.html.twig' %}

{% block title %}Home | {{ parent() }}{% endblock %}

{% block body %}

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endfor %}



<div class="container">
    {{ form_start(FilterActivityForm) }}
    <div class="d-flex justify-content-start     align-items-center mb-5">
        <div class="ms-4 me-4">
            {{ form_row(FilterActivityForm.Campus)}}
            {{ form_row(FilterActivityForm.Search)}}
            {{ form_row(FilterActivityForm.DateStart)}}
            {{ form_row(FilterActivityForm.DateEnd)}}
        </div>
        <div class="ms-4 me-4">
            {{ form_row(FilterActivityForm.Filter)}}
        </div>

        <div>
            <button class="ms-4 me-4 h-50 btn-lg ">Rechercher</button>
        </div>

    </div>

    {{ form_end(FilterActivityForm) }}

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nom de la sortie</th>
            <th>Date de sortie</th>
            <th>Clôture</th>
            <th>Inscrits/Places</th>
            <th>Etat</th>
            <th>Inscrit</th>
            <th>Organisateur</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% set i = 0 %}
        {% for sortie in sorties %}
            <tr>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.dateHeureDebut |format_datetime('short', 'short', locale='fr') }}</td>
                <td>{{ sortie.dateLimiteInscription |format_datetime('short', 'short', locale='fr') }}</td>
                <td>{{ sortie.participants|length}}/{{ sortie.nbInscriptionsMax }}</td>
                <td>{{ sortie.etat.libelle }}</td>
                <td>
                    {% if verifInsciption[i]== true %}
                    X
                    {% endif %}
                </td>
                <td><a href="#">{{ sortie.organisateur.prenom|first }}.{{ sortie.organisateur.nom }}</a></td>
                <td>
                    {#    si je suis orgnisateur    #}
                    {% if sortie.organisateur == app.user %}

                        {# si la sortie est en état  créé => visible que par le créateur avec bouton "modifier" + "publier" #}
                        {% if sortie.etat.libelle == "crée" %}
                            <a href="#">Modifier</a> - <a href="#">Publier</a>

                        {# si la sortie est en état ouverte  afficher le bouton "afficher" et "annuler"#}

                        {% elseif sortie.etat.libelle == "ouverte" %}
                            <a href="#">Afficher</a> - <a href="#">Annuler</a>

                        {# si la sortie est en état cloturée afficher le bouton "afficher" et "annuler" #}

                        {% elseif sortie.etat.libelle == "cloturée" %}
                            <a href="#">Afficher</a> - <a href="#">Annuler</a>

                        {# si la sortie est en état  Activité en cours afficher le bouton "afficher"  #}

                        {% elseif sortie.etat.libelle == "activité en cours" %}
                            <a href="#">Afficher</a>

                        {# si la sortie est en état  Passée le bouton "afficher"  #}

                        {% elseif sortie.etat.libelle == "passé" %}
                            <a href="#">Afficher</a>

                        {% endif %}

                    {% else %}
                        {#  je verifie que la personne est inscite #}
                        {% if verifInsciption[i]== true %}

                            {# si la sortie est en état ouverte  afficher le bouton "afficher" et "Se désister"#}

                            {% if sortie.etat.libelle == "ouverte" %}
                                <a href="#">Afficher</a> - <a href="#">Se désister</a>

                            {# si la sortie est en état cloturée afficher le bouton "afficher" et "Se désister" #}

                            {% elseif sortie.etat.libelle == "cloturée" %}
                                <a href="#">Afficher</a> - <a href="#">Se désister</a>

                            {# si la sortie est en état  Activité en cours afficher le bouton "afficher"  #}

                            {% elseif sortie.etat.libelle == "activité en cours"%}
                                <a href="#">Afficher</a>

                            {# si la sortie est en état  Passée le bouton "afficher"  #}

                            {% elseif sortie.etat.libelle == "passée" %}
                                <a href="#">Afficher</a>

                            {% endif %}

                        {% else %}

                            {# si la sortie est en état ouverte  afficher le bouton "afficher" et "S'inscrire"#}

                            {% if sortie.etat.libelle == "ouverte" %}
                                <a href="#">Afficher</a> - <a href="#">S'inscrire</a>

                            {# si la sortie est en état cloturée afficher le bouton "afficher" #}

                            {% elseif sortie.etat.libelle == "cloturée" %}
                                <a href="#">Afficher</a>

                            {# si la sortie est en état  Activité en cours afficher le bouton "afficher"  #}

                            {% elseif sortie.etat.libelle == "activité en cours" %}
                                <a href="#">Afficher</a>

                            {# si la sortie est en état  Passée le bouton "afficher"  #}

                            {% elseif sortie.etat.libelle == "passée" %}
                                <a href="#">Afficher</a>

                            {% endif %}

                        {% endif %}

                    {% endif %}
                </td>
            </tr>
            {% set i = i+1 %}
        {% endfor %}
          </tbody>
    </table>
</div>
{% endblock %}
