{% extends 'base.html.twig' %}

{% block title %}{{ utilisateur.nom ~ utilisateur.prenom}} | {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="h1-romain">{{utilisateur.prenom}}{{ app.user.id }}</h2>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 profile-image">
                <img class="img-utilisateur" src="{{ asset('Images/Sortir .com.png') }}" title="img-profile2~{{ utilisateur.nom }}">
            </div>

            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                {{ form_start(updateForm) }}
                {{ form_widget(updateForm) }}
                    <button type="submit" class="btn btn-primary mt-3">Mettre à jour le profil</button>
                {{ form_end(updateForm) }}
            </div>
        </div>
    </div>
{% endblock %}