{% extends 'base.html.twig' %}

{% form_theme updateForm 'bootstrap_4_layout.html.twig' %}

{% block title %}{{ utilisateur.nom ~" "~ utilisateur.prenom}} | {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="h1-romain">{{utilisateur.prenom}}</h2>
        {# read and display all flash messages #}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 profile-image align-items-center">
                {% if utilisateur.profilePhoto %}
                    <div>
                        <img class="img-utilisateur mb-4" src="{{ asset('ProfilePhotos/'~utilisateur.profilePhoto.photoProfileTag) }}" title="Image de profil de "~{{ utilisateur.nom ~" "~ utilisateur.prenom }}">
                        <button class="btn btn-danger btn-delete-image">
                            <a class="nounder-link" href="{{ path('participants_delete_img', {'id': utilisateur.id, 'name': utilisateur.profilePhoto.photoProfileTag}) }}">Supprimer la photo de profil</a>
                        </button>
                    </div>

                {% else %}
                    <img class="img-utilisateur" src="{{ asset('Images/imgProfileDefault.png') }}" title="Image de profil de "~{{ utilisateur.nom ~" "~ utilisateur.prenom }}>
                {% endif %}
            </div>

            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                {{ form_start(updateForm) }}

                 {{ form_widget(updateForm) }}
                    <button type="submit" class="btn btn-primary mt-3 btn-dark">Mettre à jour le profil</button>
                {{ form_end(updateForm) }}
            </div>
        </div>
    </div>
{% endblock %}