<div class="container mb-5">
    <nav class="navbar navbar-expand-lg navbar-light bg-white d-flex justify-content-start">
        <button class="navbar-toggler me-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{{ path('main_home')}}"><img src="{{ asset('Images/Sortir.com.logo.gif') }}" alt="logo"></a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                {% if app.user %}
                    <li class="nav-item"><a class="nav-link"  href="{{ path('ville_index') }}" title="City">Ville</a></li>
                    <li class="nav-item"><a class="nav-link"  href="{{ path('lieu_index') }}" title="Campus">Lieux</a></li>
                    <li class="nav-item"><a class="nav-link"  href="{{ path('participants_details', {'id': app.user.id}) }}" title="My profile">Mon profil</a></li>
                    <li class="nav-item"><a class="nav-link"  href="{{ path('app_logout') }}" title="logOut">Se déconnecter </a></li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN')%}
                    <li class="nav-item"><a class="nav-link"  href="#" title="Campus">Campus</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('app_register') }}">Enregistrer un nouveau participant</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('app_register') }}">Consulter la liste des inscrtits</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</div>
{# todo : afficher ele bouton toggle à droite car ça surcharge à gauche avec l'image #}
